* {
  overflow: hidden;
  
}
body {
  background-color: #090979;
  background: linear-gradient(90deg, rgba(5,1,68,1) 0%, rgba(11,11,97,1) 100%);
  display: flex;
  flex-direction: column;
  /*justify-content: center; */
  align-items: center;
  min-height: 100vh;
}
h1 {
  color: white;
  background-color: transparent;
  padding-top: 2.5%;
  font-size: 50px;
}


.quote-input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.timer {
  padding-top: 5%;
  padding-bottom: 2.5%;
  position: relative;
  top: 2rem;
  font-size: 3rem;
  color: rgb(255, 249, 191);
  font-weight: bold;
  background-color: transparent;
}

.container {
  display: grid;
  grid-template-rows: 200px ;
  background-color: rgb(15, 94, 184);
  padding: 1rem;
  border-radius: .5rem;
  width: 700px;
  max-width: 90%;
}

span{
  background-color: transparent;
}
.quote-display {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #5328c0;
}

.quote-input {
  grid-area: 1 / 1 / 2 / 2;
  background-color: transparent;
  color: transparent;
  
}
.quote-display, .quote-input {
  border: 2px solid #A1922E;
  outline: none;
  width: 95%;
  height: 8rem;
  margin: auto;
  resize: none;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .5rem;

}

.quote-input:focus {
  border-color: black;
}

#btn{
  border: none;
  color: white;
  background-color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  flex-direction: row;

}

.correct {
  color: rgb(26, 190, 26);
}

.incorrect {
  color: red;
  text-decoration: underline;
}

#connectWallet {
  position: absolute;
  float: right;
  left: auto;
  right: 20px;
  top: 10px;
  text-align: center;
  text-decoration: none;
}
.connect-wallet {  
  
  margin-left: 20px;
  padding: 9px 25px;
  border:none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: black;
  background-color: rgb(255, 110, 126, 1);
  /*float: right;
  left: auto;
  right: 0;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 12px 18px;
  border-radius: 25px;
  background-color: #FFC0C7;
*/
}

.connect-wallet:hover {
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/
  background-color: rgb(255, 110, 126, .85)
}

.connected-wallet {
  margin-left: 20px;
  padding: 9px 25px;
  border:none;
  color: black;
  background-color: rgb(255, 110, 126, 1);

}
